<div class="form-clean">
  <form #loginForm="ngForm" method="post" (ngSubmit)="OnSubmit(UserName.value,Password.value)">
    <h2 class="sr-only">Login Form</h2>
    <div class="logo">
      <img src="assets/agora.png" class="form-logo">
    </div>
    <mat-form-field class="example-full-width">
      <input matInput type="text" #UserName ngModel name="user_name" placeholder="User name" required>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput type="password" #Password ngModel name="password" placeholder="Password" required>
    </mat-form-field>
    <div class="form-group">
      <button class="btn btn-primary btn-block btn-round" [disabled]="!loginForm.valid || isLoading" type="submit">
        <i *ngIf="isLoading" class="fa fa-spinner fa-spin"></i>{{message}}</button>
    </div>
  </form>
  <a routerLink="/forgot-password" class="forgot">Forgot your password?</a>
  <a class="forgot">OR</a>
  <app-social-login></app-social-login>
  <div *ngIf="error" class="error">
    An error occured please try again.
  </div>
</div>